@import url("../src/styles/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
:root {
    background-color: var(--color-white);
    /* font-family: 'Manrope', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Comfortaa', cursive;



    /*FONTS*/
    --title-font: 'Comfortaa', cursive;
    --detail-font: 'Comfortaa', cursive;
    --card-font:'Comfortaa', cursive;
    --home-font: 'Comfortaa', cursive;

    /* COLOR */
    --card-shadow-opacity: rgba(0, 0, 0, 0.350);
    --color-white: #ffffff;
    --color-white-contrast: #F4F6F5;

    --color-main: #31B595;
    --color-main-hover: #43ccaa;
    --color-input-outline: #78e2c8;

    /* --color-footer: #F4F6F5; */
    --color-footer: var(--color-white);
    --color-item-footer: lightgray;
    --color-navtop: var(--color-white);

    --color-badgetBG-default: #ffc941;
    --color-badgetText-default: #cf8d0c;
    --color-badgetBG-requirement: lightblue;
    --color-badgetText-requirement: #7d7d7d;

    --color-options-cnt: var(--color-white);

    /* TEXT COLOR */
    --color-detail-text: #7D7D7D;
    --color-card-icon: #585858;
    --color-title-text: #1d1c1c;
    --color-options-text: #585858;


    /* BUTTON COLOR */
    --button-text: var(--color-white-contrast);
    --button-color: var(--color-main);
    --button-color-hover: var(--color-main-hover);

    --color-link-text: var(--color-main);
    --color-link-text-hover: var(--color-main-hover);
    
    --opacity-button-color: #ebebeb6e;
    --opacity-button-color-hover:var(--color-white);
    --opacity-button-color-icon: var(--color-white);
    --opacity-button-color-icon-hover:var(--color-detail-text);
    
    /* BUTTONS */
    --button-padding: 8px 20px;
    --button-border-width: 0.15rem;

    --form-button-width: 333px;
    --form-button-height: 50px;

    --header-button-position-top: 3rem;
    --header-button-position-side: 1.5rem;

    /* SIZE */
    --input-width: 317px;
    --input-height: 50px;
    --footer-height: 10vh;
    --navbar-top-height: 10vh;
    --avatar-size: 40px;
    --opacity-button-size: 40px;
    --detail-image-height: 40vh;
    --options-cnt-height: 200px;
    --options-cnt-width: 140px;
    --module-tags-height: 7vh;
    --moduleVertical-SmallCard-height:calc(var(--cardXS-height) * 1.5);
    --moduleHorizontal-MainCard-height:calc(var(--card-height) * 1.1);
    --moduleHorizontal-MidCard-height: calc(var(--cardMid-height) * 1.1);

    /* FONT SIZE */
    --font-size-cardXS-title: larger;
    --font-size-cardMid-title: medium;
    --font-size-card: medium;
    --font-size-card-title: x-large;

    --font-size-button: medium;
    --font-size-form-button: large;
    --font-size-button-detail: medium;
    --font-size-badge: smaller;

    --font-size-nav-icon: 24px;
    --font-size-opacity-icon: medium;
    --font-size-detail-text: medium;
    --font-size-detail-tab-button: medium;
    --font-size-detail-participation: medium;

    /* RADIUS */
    --cardMid-radius: 1.5rem;
    --footer-radius: 1.15rem 1.15rem 0 0;
    --card-radius: 0.5rem;
    --avatar-radius: 0.5rem;
    --button-radius: 0.5rem;
    --input-radius: 0.5rem;
    --badge-radius: 0.25rem;
    --navtop-radius: 0;

    /* CARD */
    --card-width: 95%;
    --card-height: 350px;
    --card-img-height: 100%;
    --card-width-desktop: 220px;
    --card-height-desktop: 300px;

    --cardMid-width: 225px;
    --cardMid-height: 310px;
    --cardMid-width-desktop: 225px;
    --cardMid-height-desktop: 310px;
    --cardMid-img-size: 90%;

    --cardXS-width: 95%;
    --cardXS-height: 110px;
    --cardXS-width-desktop: 22rem;

    /* BADGE */
    --badge-padding: 8px 12px;
    --badge-font-weight: 500;
    --badge-margin: 0.15rem;

    /* PAGES */
    --page-width: 85%;

    /* BREAKPOINTS */
    --xsBP: 600px;
    --mBP: 820px;

    /* INDEX */
    --index-opacity-button: 2;
    --index-gradient: 2;
    --index-options: 3;
    --index-sidebar: 3;
    --index-footer: 3;
    --index-navtop: 3;
    --options-button-index:4;
}

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}